/* ---------- root variables ---------- */
:root {
  --green: #b69d44;
  --light-green: #f5f5ef;
  --light-grey: #000000;
  --text-color-light: #000000;
  --text-color-dark: rgb(0, 0, 0) fff;
  --white: #b69d44;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
  background: var(--light-green);
  color: black;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  cursor: pointer;
  color: var(--green);
}

img {
  width: 100%;
  height: auto;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 1em;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
/*
#search {
  background-color: white;
}
#input-search {
  background-color: #51514e;
  position: absolute;
  top: 400px;
  margin: 19px;
}*/

/* ---------- footer styling ---------- */

footer {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 1em;
  text-align: center;
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  position: relative;
  cursor: pointer;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ---------- grid item styling ---------- */

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  position: relative;
}

#shortDescription {
  font-family: Tahoma (sans-serif);
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grid-item p {
  margin: 0.3em 0;
  padding: 0 0 3em 0;
}

.grid-item h3:first-letter,
.grid-item p:first-letter {
  text-transform: uppercase;
}

/* ---------- buttons in grid container ---------- */

.grid-container .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  position: absolute;
  bottom: 1.5em;
  font-size: 15px;
}

.grid-container .btns button {
  width: 100%;
}

/* ---------- form styling ---------- */
/* input form styling */
form {
  margin: 2em auto 0;
  background-color: var(--light-green);
  padding: 1em 1em 2em;
  text-align: center;
}
#fav {
  width: 30px; /* Set width */
  height: 30px; /* Set height */
  background-color: #ff6b6b; /* Red background color for heart */
  color: white; /* White text color */
  border: none; /* Remove border */
  border-radius: 50%; /* Make it a circle */
  cursor: pointer; /* Change cursor on hover */
  font-size: 10px;
}

/* Add a heart shape using before pseudo-element */
#fav::before {
  content: "\2665"; /* Unicode for heart symbol */
  font-size: 16px; /* Adjust font size */
  line-height: 30px; /* Center the heart vertically */
}

/* Change background color on hover */
#fav:hover {
  background-color: #e74c3c; /* Darker red on hover */
}

button {
  font-weight: 300;
  margin: 1;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--green);
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
}

header button {
  color: var(--green);
  background-color: var(--light-green);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  border: 2px solid var(--green);
  display: block;
  background: var(--white);
}

.btn-cancel {
  background: var(--light-green);
  margin: 0 0 1em;
}

select {
  background-color: var(--green);
  border: none;
  color: var(--text-color-light);
  padding: 1em;
  margin: 1em;
  max-width: 350px;
}

/* ---------- dialog styling ---------- */

dialog {
  border-color: var(--green);
  background-color: var(--light-green);
  width: 65vw;
  padding: 2em 1em;
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

dialog h4 {
  margin-bottom: 0;
}
dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}

/* ---------- tools grid styling ---------- */

.tools-grid {
  background-color: #b69d44;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  position: relative;
  max-width: 100%;
  font-size: 15px;
}

.tools-grid select {
  background-color: rgb(235, 217, 144);
  padding: 2px;
  margin: 5px;
}

@media (min-width: 600px) {
  .tools-grid {
    grid-template-columns: auto auto;
    margin: 1em;
  }
}

.tools-grid input {
  width: 350px;
  max-width: 100%;
  display: inline;
}
